In [29]:
# Property Prices in Madrid

In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import KFold

from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.linear_model import Perceptron
from sklearn.neighbors import KNeighborsClassifier

In [57]:
#Dataset
df = pd.read_excel('session_7_dataset.xlsx')
df

,Unnamed: 0,inm_floor,inm_size,inm_price,inm_longitude,inm_latitude,inm_barrio,inm_distrito,his_price,his_quarterly_variation,...,dem_TasaDeParo,dem_TamanoMedioDelHogar,dem_PropSinEstudiosUniversitarios,dem_PropSinEstudios,dem_Proporcion_de_nacidos_fuera_de_Espana,dem_PropConEstudiosUniversitarios,dem_PobTotal,dem_NumViviendas,dem_EdadMedia,dem_Densidad_(Habit/Ha)
0,0,3.0,141.0,990000,-3.656875,40.464347,Canillas,Hortaleza,3250,2.2,...,8.724674,2.527886,0.488949,0.175632,15.456193,NaN,40838,16155,NaN,161.894356
1,1,2.0,159.0,940000,-3.703523,40.419427,Universidad,Centro,5106,1.4,...,9.006094,1.975877,0.386598,0.083812,32.102460,0.529590,33418,16913,43.678945,352.500616
2,2,NaN,NaN,549000,-3.669626,40.435362,Guindalera,Salamanca,4100,0.6,...,7.441379,2.369951,0.365818,0.070351,18.224365,0.563831,42306,17851,46.477166,263.952286
3,3,2.0,232.0,750000,-3.720619,40.424164,Argüelles,Moncloa - Aravaca,4773,0.5,...,6.709633,2.328217,0.343683,0.066403,20.963846,0.589914,24423,10490,46.972342,322.402577
4,4,4.0,183.0,1550000,-3.705909,40.413214,Sol,Centro,4739,-5.5,...,9.058980,1.994244,0.433750,0.082242,39.490947,0.484009,7622,3822,44.632774,171.165183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17852,17852,0.0,28.0,94000,-3.705236,40.448713,Bellas Vistas,Tetuán,3489,-0.3,...,9.666273,2.483180,0.507461,0.139521,36.845626,0.353018,29895,12039,43.224268,418.012531
17853,17853,1.0,247.0,1250000,-3.797123,40.458962,Aravaca,NaN,3683,3.1,...,5.072028,3.159086,0.318851,0.071317,15.663746,0.609832,27503,8706,40.112479,47.142277
17854,17854,3.0,73.0,137260,-3.731940,40.377805,NaN,Carabanchel,1859,-0.9,...,12.527023,2.858792,0.600245,0.221107,34.012583,0.178648,31947,11175,42.374887,204.190236
17855,17855,5.0,72.0,304880,-3.704166,40.455556,Berruguete,Tetuán,3345,1.8,...,10.119032,2.476095,0.536667,0.153495,37.770383,0.309838,25843,10437,NaN,425.705154
17856,17856,5.0,422.0,2490000,-3.678877,40.437514,Lista,Salamanca,5913,1.6,...,6.249904,2.277080,0.335454,0.061745,22.502475,0.602801,21211,9315,45.826434,407.735677

In [58]:
#First 5 Rows
df.head()

,Unnamed: 0,inm_floor,inm_size,inm_price,inm_longitude,inm_latitude,inm_barrio,inm_distrito,his_price,his_quarterly_variation,...,dem_TasaDeParo,dem_TamanoMedioDelHogar,dem_PropSinEstudiosUniversitarios,dem_PropSinEstudios,dem_Proporcion_de_nacidos_fuera_de_Espana,dem_PropConEstudiosUniversitarios,dem_PobTotal,dem_NumViviendas,dem_EdadMedia,dem_Densidad_(Habit/Ha)
0,0,3.0,141.0,990000,-3.656875,40.464347,Canillas,Hortaleza,3250,2.2,...,8.724674,2.527886,0.488949,0.175632,15.456193,NaN,40838,16155,NaN,161.894356
1,1,2.0,159.0,940000,-3.703523,40.419427,Universidad,Centro,5106,1.4,...,9.006094,1.975877,0.386598,0.083812,32.102460,0.529590,33418,16913,43.678945,352.500616
2,2,NaN,NaN,549000,-3.669626,40.435362,Guindalera,Salamanca,4100,0.6,...,7.441379,2.369951,0.365818,0.070351,18.224365,0.563831,42306,17851,46.477166,263.952286
3,3,2.0,232.0,750000,-3.720619,40.424164,Argüelles,Moncloa - Aravaca,4773,0.5,...,6.709633,2.328217,0.343683,0.066403,20.963846,0.589914,24423,10490,46.972342,322.402577
4,4,4.0,183.0,1550000,-3.705909,40.413214,Sol,Centro,4739,-5.5,...,9.058980,1.994244,0.433750,0.082242,39.490947,0.484009,7622,3822,44.632774,171.165183

In [59]:
#Drop the Unnamed Column
df.drop('Unnamed: 0', axis=1, inplace=True)

In [60]:
#Since the longitude and latitude is almost identical, I will remove it as well
df.drop('inm_longitude', axis=1, inplace=True)
df.drop('inm_latitude', axis=1, inplace=True)

In [61]:
#Looking into the data
df.info()
#Target Variable = inm_price

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17857 entries, 0 to 17856
Data columns (total 23 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   inm_floor                                        14067 non-null  float64
 1   inm_size                                         16090 non-null  float64
 2   inm_price                                        17857 non-null  int64
 3   inm_barrio                                       16063 non-null  object
 4   inm_distrito                                     16110 non-null  object
 5   his_price                                        17857 non-null  int64
 6   his_quarterly_variation                          17857 non-null  float64
 7   his_annual_variation                             17857 non-null  float64
 8   his_monthly_variation                            17857 non-null  float64
 9   dem_Indice_de_reemplazo_de_la_poblacion_activa   17857 non-null  float64
 10  dem_Indice_de_juventud                           17857 non-null  float64
 11  dem_Indice_de_estructura_de_la_poblacion_activa  17857 non-null  float64
 12  dem_Indice_de_dependencia                        17857 non-null  float64
 13  dem_TasaDeParo                                   17857 non-null  float64
 14  dem_TamanoMedioDelHogar                          17857 non-null  float64
 15  dem_PropSinEstudiosUniversitarios                17857 non-null  float64
 16  dem_PropSinEstudios                              17857 non-null  float64
 17  dem_Proporcion_de_nacidos_fuera_de_Espana        17857 non-null  float64
 18  dem_PropConEstudiosUniversitarios                16132 non-null  float64
 19  dem_PobTotal                                     17857 non-null  int64
 20  dem_NumViviendas                                 17857 non-null  int64
 21  dem_EdadMedia                                    16067 non-null  float64
 22  dem_Densidad_(Habit/Ha)                          17857 non-null  float64
dtypes: float64(17), int64(4), object(2)
memory usage: 3.1+ MB

In [62]:
#Checking null values
df.isnull().sum()

inm_floor                                          3790
inm_size                                           1767
inm_price                                             0
inm_barrio                                         1794
inm_distrito                                       1747
his_price                                             0
his_quarterly_variation                               0
his_annual_variation                                  0
his_monthly_variation                                 0
dem_Indice_de_reemplazo_de_la_poblacion_activa        0
dem_Indice_de_juventud                                0
dem_Indice_de_estructura_de_la_poblacion_activa       0
dem_Indice_de_dependencia                             0
dem_TasaDeParo                                        0
dem_TamanoMedioDelHogar                               0
dem_PropSinEstudiosUniversitarios                     0
dem_PropSinEstudios                                   0
dem_Proporcion_de_nacidos_fuera_de_Espana             0
dem_PropConEstudiosUniversitarios                  1725
dem_PobTotal                                          0
dem_NumViviendas                                      0
dem_EdadMedia                                      1790
dem_Densidad_(Habit/Ha)                               0
dtype: int64

In [63]:
#Dealing with null values
#First lets deal with the categorical values (inm_barrio and inm_distrito)
barrio_mode = df['inm_barrio'].mode()[0]
df['inm_barrio'].fillna(barrio_mode, inplace=True)

distrito_mode = df['inm_distrito'].mode()[0]
df['inm_distrito'].fillna(distrito_mode, inplace=True)

In [64]:
floor_data = df['inm_floor'].value_counts()
floor_data

 1.0     3175
 2.0     2691
 3.0     2112
 0.0     1803
 4.0     1678
 5.0     1008
 6.0      598
 7.0      316
 8.0      213
 9.0      123
-1.0      116
 10.0      83
 12.0      49
 11.0      46
 13.0      21
 14.0      19
 17.0       5
 15.0       4
 19.0       2
 18.0       2
 23.0       1
 26.0       1
 60.0       1
Name: inm_floor, dtype: int64

In [65]:
#Dealing with null values
#Now lets deal with the rest of the missing values

#First with the floor, it cant be a decimal number, so I will use median
inm_floor_median = df['inm_floor'].median()
df['inm_floor'].fillna(inm_floor_median, inplace=True)

#For the rest I will use the mean
inm_size_mean = df['inm_size'].mean()
df['inm_size'].fillna(inm_size_mean, inplace=True)

dem_PropConEstudiosUniversitarios_mean = df['dem_PropConEstudiosUniversitarios'].mean()
df['dem_PropConEstudiosUniversitarios'].fillna(dem_PropConEstudiosUniversitarios_mean, inplace=True)

dem_EdadMedia_mean = df['dem_EdadMedia'].mean()
df['dem_EdadMedia'].fillna(dem_EdadMedia_mean, inplace=True)

In [66]:
df.isnull().sum()

inm_floor                                          0
inm_size                                           0
inm_price                                          0
inm_barrio                                         0
inm_distrito                                       0
his_price                                          0
his_quarterly_variation                            0
his_annual_variation                               0
his_monthly_variation                              0
dem_Indice_de_reemplazo_de_la_poblacion_activa     0
dem_Indice_de_juventud                             0
dem_Indice_de_estructura_de_la_poblacion_activa    0
dem_Indice_de_dependencia                          0
dem_TasaDeParo                                     0
dem_TamanoMedioDelHogar                            0
dem_PropSinEstudiosUniversitarios                  0
dem_PropSinEstudios                                0
dem_Proporcion_de_nacidos_fuera_de_Espana          0
dem_PropConEstudiosUniversitarios                  0
dem_PobTotal                                       0
dem_NumViviendas                                   0
dem_EdadMedia                                      0
dem_Densidad_(Habit/Ha)                            0
dtype: int64

In [67]:
floor_data = df['inm_floor'].value_counts()
floor_data

 2.0     6481
 1.0     3175
 3.0     2112
 0.0     1803
 4.0     1678
 5.0     1008
 6.0      598
 7.0      316
 8.0      213
 9.0      123
-1.0      116
 10.0      83
 12.0      49
 11.0      46
 13.0      21
 14.0      19
 17.0       5
 15.0       4
 19.0       2
 18.0       2
 23.0       1
 26.0       1
 60.0       1
Name: inm_floor, dtype: int64

In [68]:
#Now lets check the correlation between variables to see if we can just get rid of some non-important variables
corr_matrix = df.corr()
corr_matrix["inm_price"].sort_values(ascending=False)

inm_price                                          1.000000
inm_size                                           0.755715
his_price                                          0.545820
dem_PropConEstudiosUniversitarios                  0.509141
dem_Indice_de_dependencia                          0.185440
inm_floor                                          0.125167
his_annual_variation                               0.094119
his_quarterly_variation                            0.078519
dem_TamanoMedioDelHogar                            0.076173
dem_EdadMedia                                      0.069269
his_monthly_variation                              0.055043
dem_Indice_de_reemplazo_de_la_poblacion_activa    -0.017640
dem_Indice_de_estructura_de_la_poblacion_activa   -0.028431
dem_Indice_de_juventud                            -0.058233
dem_Densidad_(Habit/Ha)                           -0.209482
dem_Proporcion_de_nacidos_fuera_de_Espana         -0.232108
dem_NumViviendas                                  -0.352059
dem_PobTotal                                      -0.356559
dem_PropSinEstudios                               -0.489288
dem_PropSinEstudiosUniversitarios                 -0.545868
dem_TasaDeParo                                    -0.561337
Name: inm_price, dtype: float64

In [69]:
#Outliers
df = df[(np.abs(df.inm_price - df.inm_price.mean()) <= (3 * df.inm_price.std()))]
#Encoder
encoder=LabelEncoder()
df['inm_barrio'] = encoder.fit_transform(df['inm_barrio'])
df['inm_distrito'] = encoder.fit_transform(df['inm_distrito'])
#Scaler
scaler = StandardScaler()
df[["inm_price", "inm_barrio", "his_price", "inm_distrito", "dem_PobTotal", "dem_NumViviendas"]] = scaler.fit_transform(df[["inm_price", "inm_barrio", "his_price", "inm_distrito", "dem_PobTotal", "dem_NumViviendas"]])

C:\Users\alega\AppData\Local\Temp\ipykernel_20924\4259157968.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['inm_barrio'] = encoder.fit_transform(df['inm_barrio'])
C:\Users\alega\AppData\Local\Temp\ipykernel_20924\4259157968.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['inm_distrito'] = encoder.fit_transform(df['inm_distrito'])
C:\Users\alega\AppData\Local\Temp\ipykernel_20924\4259157968.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[["inm_price", "inm_barrio", "his_price", "inm_distrito", "dem_PobTotal", "dem_NumViviendas"]] = scaler.fit_transform(df[["inm_price", "inm_barrio", "his_price", "inm_distrito", "dem_PobTotal", "dem_NumViviendas"]])

In [70]:
#Im going to delete the variables with value close to zero meaning that the correlation to inm_price is low.
df.drop('dem_Indice_de_juventud', axis=1, inplace=True)
df.drop('dem_Indice_de_estructura_de_la_poblacion_activa', axis=1, inplace=True)
df.drop('dem_Indice_de_reemplazo_de_la_poblacion_activa', axis=1, inplace=True)
df.drop('his_monthly_variation', axis=1, inplace=True)
df.drop('dem_NumViviendas', axis=1, inplace=True)

C:\Users\alega\AppData\Local\Temp\ipykernel_20924\2257928279.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('dem_Indice_de_juventud', axis=1, inplace=True)
C:\Users\alega\AppData\Local\Temp\ipykernel_20924\2257928279.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('dem_Indice_de_estructura_de_la_poblacion_activa', axis=1, inplace=True)
C:\Users\alega\AppData\Local\Temp\ipykernel_20924\2257928279.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('dem_Indice_de_reemplazo_de_la_poblacion_activa', axis=1, inplace=True)
C:\Users\alega\AppData\Local\Temp\ipykernel_20924\2257928279.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('his_monthly_variation', axis=1, inplace=True)
C:\Users\alega\AppData\Local\Temp\ipykernel_20924\2257928279.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('dem_NumViviendas', axis=1, inplace=True)

In [71]:
#Checking null values
df.isnull().sum()

inm_floor                                    0
inm_size                                     0
inm_price                                    0
inm_barrio                                   0
inm_distrito                                 0
his_price                                    0
his_quarterly_variation                      0
his_annual_variation                         0
dem_Indice_de_dependencia                    0
dem_TasaDeParo                               0
dem_TamanoMedioDelHogar                      0
dem_PropSinEstudiosUniversitarios            0
dem_PropSinEstudios                          0
dem_Proporcion_de_nacidos_fuera_de_Espana    0
dem_PropConEstudiosUniversitarios            0
dem_PobTotal                                 0
dem_EdadMedia                                0
dem_Densidad_(Habit/Ha)                      0
dtype: int64

In [72]:
df.head()

,inm_floor,inm_size,inm_price,inm_barrio,inm_distrito,his_price,his_quarterly_variation,his_annual_variation,dem_Indice_de_dependencia,dem_TasaDeParo,dem_TamanoMedioDelHogar,dem_PropSinEstudiosUniversitarios,dem_PropSinEstudios,dem_Proporcion_de_nacidos_fuera_de_Espana,dem_PropConEstudiosUniversitarios,dem_PobTotal,dem_EdadMedia,dem_Densidad_(Habit/Ha)
0,3.0,141.000000,0.598178,-1.185915,-0.242548,-0.448891,2.2,0.3,62.753069,8.724674,2.527886,0.488949,0.175632,15.456193,0.439830,0.936927,44.315032,161.894356
1,2.0,159.000000,0.518551,1.515967,-1.138464,0.745631,1.4,-4.3,30.031128,9.006094,1.975877,0.386598,0.083812,32.102460,0.529590,0.370127,43.678945,352.500616
2,2.0,149.013753,-0.104131,-0.184094,0.832551,0.098169,0.6,-4.1,54.666764,7.441379,2.369951,0.365818,0.070351,18.224365,0.563831,1.049065,46.477166,263.952286
3,2.0,232.000000,0.215969,-1.368064,0.115818,0.531312,0.5,-3.7,53.151063,6.709633,2.328217,0.343683,0.066403,20.963846,0.589914,-0.316985,46.972342,322.402577
4,4.0,183.000000,1.489997,1.424892,-1.138464,0.509430,-5.5,-5.3,30.446688,9.058980,1.994244,0.433750,0.082242,39.490947,0.484009,-1.600382,44.632774,171.165183

Now we can see that there are no categorical values and that we are dealing with no missing values

In [73]:
# split the data into features and target variable
X = df.drop('inm_price', axis=1)
y = df['inm_price']

# split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [74]:
# create a linear regression object
model = LinearRegression()

# fit the model on the training data
model.fit(X_train, y_train)

# make predictions on the testing data
y_pred = model.predict(X_test)

In [75]:
# calculate mean squared error
mse = mean_squared_error(y_test, y_pred)

# calculate root mean squared error
rmse = np.sqrt(mse)

# calculate coefficient of determination (R^2)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("Root Mean Squared Error:", rmse)
print("Coefficient of Determination (R^2):", r2)

Mean Squared Error: 0.26612948477171755
Root Mean Squared Error: 0.5158773931582169
Coefficient of Determination (R^2): 0.7466131728163325

SECTION 2 - Classifying house size

In [76]:
df

,inm_floor,inm_size,inm_price,inm_barrio,inm_distrito,his_price,his_quarterly_variation,his_annual_variation,dem_Indice_de_dependencia,dem_TasaDeParo,dem_TamanoMedioDelHogar,dem_PropSinEstudiosUniversitarios,dem_PropSinEstudios,dem_Proporcion_de_nacidos_fuera_de_Espana,dem_PropConEstudiosUniversitarios,dem_PobTotal,dem_EdadMedia,dem_Densidad_(Habit/Ha)
0,3.0,141.000000,0.598178,-1.185915,-0.242548,-0.448891,2.2,0.3,62.753069,8.724674,2.527886,0.488949,0.175632,15.456193,0.439830,0.936927,44.315032,161.894356
1,2.0,159.000000,0.518551,1.515967,-1.138464,0.745631,1.4,-4.3,30.031128,9.006094,1.975877,0.386598,0.083812,32.102460,0.529590,0.370127,43.678945,352.500616
2,2.0,149.013753,-0.104131,-0.184094,0.832551,0.098169,0.6,-4.1,54.666764,7.441379,2.369951,0.365818,0.070351,18.224365,0.563831,1.049065,46.477166,263.952286
3,2.0,232.000000,0.215969,-1.368064,0.115818,0.531312,0.5,-3.7,53.151063,6.709633,2.328217,0.343683,0.066403,20.963846,0.589914,-0.316985,46.972342,322.402577
4,4.0,183.000000,1.489997,1.424892,-1.138464,0.509430,-5.5,-5.3,30.446688,9.058980,1.994244,0.433750,0.082242,39.490947,0.484009,-1.600382,44.632774,171.165183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17852,0.0,28.000000,-0.828734,-1.337706,1.190918,-0.295070,-0.3,-0.7,42.771861,9.666273,2.483180,0.507461,0.139521,36.845626,0.353018,0.101011,43.224268,418.012531
17853,1.0,247.000000,1.012237,-1.428781,0.832551,-0.170212,3.1,0.8,53.992161,5.072028,3.159086,0.318851,0.071317,15.663746,0.609832,-0.081709,40.112479,47.142277
17854,3.0,73.000000,-0.759841,-0.457318,-1.317647,-1.344139,-0.9,-4.1,50.374206,12.527023,2.858792,0.600245,0.221107,34.012583,0.178648,0.257760,42.374887,204.190236
17855,5.0,72.000000,-0.492900,-1.307348,1.190918,-0.387749,1.8,2.8,40.306206,10.119032,2.476095,0.536667,0.153495,37.770383,0.309838,-0.208514,44.315032,425.705154
17856,5.0,422.000000,2.986981,0.089130,0.832551,1.265017,1.6,-0.5,52.861055,6.249904,2.277080,0.335454,0.061745,22.502475,0.602801,-0.562344,45.826434,407.735677

In [77]:
size_data = df['inm_size'].value_counts()
size_data

149.013753    1736
60.000000      312
50.000000      268
90.000000      251
70.000000      248
              ...
346.000000       1
474.000000       1
408.000000       1
433.000000       1
499.000000       1
Name: inm_size, Length: 603, dtype: int64

In [78]:
df['inm_size'] = pd.cut(df['inm_size'], bins=[0, 150, 200.0, np.inf], labels=['S', 'M' ,'L'])
df['inm_size'].value_counts()

C:\Users\alega\AppData\Local\Temp\ipykernel_20924\1007624650.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['inm_size'] = pd.cut(df['inm_size'], bins=[0, 150, 200.0, np.inf], labels=['S', 'M' ,'L'])

S    13252
L     2723
M     1498
Name: inm_size, dtype: int64

In [79]:
df['inm_size'] = encoder.fit_transform(df['inm_size'])
X_train, X_test, y_train, y_test = train_test_split(df.drop('inm_size', axis=1), df['inm_size'], test_size=0.2, random_state=42)

Percep = Perceptron(max_iter=1000)
L_Reg = LogisticRegression(max_iter=1000)
LDA = LinearDiscriminantAnalysis()
KNN = KNeighborsClassifier()

C:\Users\alega\AppData\Local\Temp\ipykernel_20924\2380109191.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['inm_size'] = encoder.fit_transform(df['inm_size'])

In [80]:
Percep.fit(X_train, y_train)

y_pred = Percep.predict(X_test)

print(f'Accuracy score: {accuracy_score(y_test, y_pred)}')

Accuracy score: 0.8340486409155937

In [81]:
L_Reg.fit(X_train, y_train)

y_pred = L_Reg.predict(X_test)

print(f'Accuracy score: {accuracy_score(y_test, y_pred)}')

Accuracy score: 0.8580829756795422

C:\Users\alega\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [82]:
LDA.fit(X_train, y_train)

y_pred = LDA.predict(X_test)

print(f'Accuracy score: {accuracy_score(y_test, y_pred)}')

Accuracy score: 0.8540772532188842

In [83]:
KNN.fit(X_train, y_train)

y_pred = KNN.predict(X_test)

print(f'Accuracy score: {accuracy_score(y_test, y_pred)}')

Accuracy score: 0.8589413447782547