In [1]:
# Property Prices in Madrid

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [4]:
df = pd.read_excel('session_7_dataset.xlsx')
df

,Unnamed: 0,inm_floor,inm_size,inm_price,inm_longitude,inm_latitude,inm_barrio,inm_distrito,his_price,his_quarterly_variation,...,dem_TasaDeParo,dem_TamanoMedioDelHogar,dem_PropSinEstudiosUniversitarios,dem_PropSinEstudios,dem_Proporcion_de_nacidos_fuera_de_Espana,dem_PropConEstudiosUniversitarios,dem_PobTotal,dem_NumViviendas,dem_EdadMedia,dem_Densidad_(Habit/Ha)
0,0,3.0,141.0,990000,-3.656875,40.464347,Canillas,Hortaleza,3250,2.2,...,8.724674,2.527886,0.488949,0.175632,15.456193,NaN,40838,16155,NaN,161.894356
1,1,2.0,159.0,940000,-3.703523,40.419427,Universidad,Centro,5106,1.4,...,9.006094,1.975877,0.386598,0.083812,32.102460,0.529590,33418,16913,43.678945,352.500616
2,2,NaN,NaN,549000,-3.669626,40.435362,Guindalera,Salamanca,4100,0.6,...,7.441379,2.369951,0.365818,0.070351,18.224365,0.563831,42306,17851,46.477166,263.952286
3,3,2.0,232.0,750000,-3.720619,40.424164,Argüelles,Moncloa - Aravaca,4773,0.5,...,6.709633,2.328217,0.343683,0.066403,20.963846,0.589914,24423,10490,46.972342,322.402577
4,4,4.0,183.0,1550000,-3.705909,40.413214,Sol,Centro,4739,-5.5,...,9.058980,1.994244,0.433750,0.082242,39.490947,0.484009,7622,3822,44.632774,171.165183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17852,17852,0.0,28.0,94000,-3.705236,40.448713,Bellas Vistas,Tetuán,3489,-0.3,...,9.666273,2.483180,0.507461,0.139521,36.845626,0.353018,29895,12039,43.224268,418.012531
17853,17853,1.0,247.0,1250000,-3.797123,40.458962,Aravaca,NaN,3683,3.1,...,5.072028,3.159086,0.318851,0.071317,15.663746,0.609832,27503,8706,40.112479,47.142277
17854,17854,3.0,73.0,137260,-3.731940,40.377805,NaN,Carabanchel,1859,-0.9,...,12.527023,2.858792,0.600245,0.221107,34.012583,0.178648,31947,11175,42.374887,204.190236
17855,17855,5.0,72.0,304880,-3.704166,40.455556,Berruguete,Tetuán,3345,1.8,...,10.119032,2.476095,0.536667,0.153495,37.770383,0.309838,25843,10437,NaN,425.705154
17856,17856,5.0,422.0,2490000,-3.678877,40.437514,Lista,Salamanca,5913,1.6,...,6.249904,2.277080,0.335454,0.061745,22.502475,0.602801,21211,9315,45.826434,407.735677

Since latitude and longitude are mostly the same, I will delete those columns

In [24]:
df.drop('inm_longitude', axis=1, inplace=True)

In [25]:
df.drop('inm_latitude', axis=1, inplace=True)

In [26]:
df

,Unnamed: 0,inm_floor,inm_size,inm_price,inm_barrio,inm_distrito,his_price,his_quarterly_variation,his_annual_variation,his_monthly_variation,...,dem_TasaDeParo,dem_TamanoMedioDelHogar,dem_PropSinEstudiosUniversitarios,dem_PropSinEstudios,dem_Proporcion_de_nacidos_fuera_de_Espana,dem_PropConEstudiosUniversitarios,dem_PobTotal,dem_NumViviendas,dem_EdadMedia,dem_Densidad_(Habit/Ha)
0,0,3.0,141.0,990000,Canillas,Hortaleza,3250,2.2,0.3,2.1,...,8.724674,2.527886,0.488949,0.175632,15.456193,NaN,40838,16155,NaN,161.894356
1,1,2.0,159.0,940000,Universidad,Centro,5106,1.4,-4.3,0.1,...,9.006094,1.975877,0.386598,0.083812,32.102460,0.529590,33418,16913,43.678945,352.500616
2,2,NaN,NaN,549000,Guindalera,Salamanca,4100,0.6,-4.1,-0.2,...,7.441379,2.369951,0.365818,0.070351,18.224365,0.563831,42306,17851,46.477166,263.952286
3,3,2.0,232.0,750000,Argüelles,Moncloa - Aravaca,4773,0.5,-3.7,0.3,...,6.709633,2.328217,0.343683,0.066403,20.963846,0.589914,24423,10490,46.972342,322.402577
4,4,4.0,183.0,1550000,Sol,Centro,4739,-5.5,-5.3,-1.1,...,9.058980,1.994244,0.433750,0.082242,39.490947,0.484009,7622,3822,44.632774,171.165183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17852,17852,0.0,28.0,94000,Bellas Vistas,Tetuán,3489,-0.3,-0.7,0.4,...,9.666273,2.483180,0.507461,0.139521,36.845626,0.353018,29895,12039,43.224268,418.012531
17853,17853,1.0,247.0,1250000,Aravaca,NaN,3683,3.1,0.8,1.2,...,5.072028,3.159086,0.318851,0.071317,15.663746,0.609832,27503,8706,40.112479,47.142277
17854,17854,3.0,73.0,137260,NaN,Carabanchel,1859,-0.9,-4.1,0.0,...,12.527023,2.858792,0.600245,0.221107,34.012583,0.178648,31947,11175,42.374887,204.190236
17855,17855,5.0,72.0,304880,Berruguete,Tetuán,3345,1.8,2.8,0.0,...,10.119032,2.476095,0.536667,0.153495,37.770383,0.309838,25843,10437,NaN,425.705154
17856,17856,5.0,422.0,2490000,Lista,Salamanca,5913,1.6,-0.5,-0.1,...,6.249904,2.277080,0.335454,0.061745,22.502475,0.602801,21211,9315,45.826434,407.735677

In [27]:
df.head()

,Unnamed: 0,inm_floor,inm_size,inm_price,inm_barrio,inm_distrito,his_price,his_quarterly_variation,his_annual_variation,his_monthly_variation,...,dem_TasaDeParo,dem_TamanoMedioDelHogar,dem_PropSinEstudiosUniversitarios,dem_PropSinEstudios,dem_Proporcion_de_nacidos_fuera_de_Espana,dem_PropConEstudiosUniversitarios,dem_PobTotal,dem_NumViviendas,dem_EdadMedia,dem_Densidad_(Habit/Ha)
0,0,3.0,141.0,990000,Canillas,Hortaleza,3250,2.2,0.3,2.1,...,8.724674,2.527886,0.488949,0.175632,15.456193,NaN,40838,16155,NaN,161.894356
1,1,2.0,159.0,940000,Universidad,Centro,5106,1.4,-4.3,0.1,...,9.006094,1.975877,0.386598,0.083812,32.102460,0.529590,33418,16913,43.678945,352.500616
2,2,NaN,NaN,549000,Guindalera,Salamanca,4100,0.6,-4.1,-0.2,...,7.441379,2.369951,0.365818,0.070351,18.224365,0.563831,42306,17851,46.477166,263.952286
3,3,2.0,232.0,750000,Argüelles,Moncloa - Aravaca,4773,0.5,-3.7,0.3,...,6.709633,2.328217,0.343683,0.066403,20.963846,0.589914,24423,10490,46.972342,322.402577
4,4,4.0,183.0,1550000,Sol,Centro,4739,-5.5,-5.3,-1.1,...,9.058980,1.994244,0.433750,0.082242,39.490947,0.484009,7622,3822,44.632774,171.165183

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17857 entries, 0 to 17856
Data columns (total 24 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Unnamed: 0                                       17857 non-null  int64
 1   inm_floor                                        14067 non-null  float64
 2   inm_size                                         16090 non-null  float64
 3   inm_price                                        17857 non-null  int64
 4   inm_barrio                                       16063 non-null  object
 5   inm_distrito                                     16110 non-null  object
 6   his_price                                        17857 non-null  int64
 7   his_quarterly_variation                          17857 non-null  float64
 8   his_annual_variation                             17857 non-null  float64
 9   his_monthly_variation                            17857 non-null  float64
 10  dem_Indice_de_reemplazo_de_la_poblacion_activa   17857 non-null  float64
 11  dem_Indice_de_juventud                           17857 non-null  float64
 12  dem_Indice_de_estructura_de_la_poblacion_activa  17857 non-null  float64
 13  dem_Indice_de_dependencia                        17857 non-null  float64
 14  dem_TasaDeParo                                   17857 non-null  float64
 15  dem_TamanoMedioDelHogar                          17857 non-null  float64
 16  dem_PropSinEstudiosUniversitarios                17857 non-null  float64
 17  dem_PropSinEstudios                              17857 non-null  float64
 18  dem_Proporcion_de_nacidos_fuera_de_Espana        17857 non-null  float64
 19  dem_PropConEstudiosUniversitarios                16132 non-null  float64
 20  dem_PobTotal                                     17857 non-null  int64
 21  dem_NumViviendas                                 17857 non-null  int64
 22  dem_EdadMedia                                    16067 non-null  float64
 23  dem_Densidad_(Habit/Ha)                          17857 non-null  float64
dtypes: float64(17), int64(5), object(2)
memory usage: 3.3+ MB

In [29]:
df.isnull().sum()

Unnamed: 0                                            0
inm_floor                                          3790
inm_size                                           1767
inm_price                                             0
inm_barrio                                         1794
inm_distrito                                       1747
his_price                                             0
his_quarterly_variation                               0
his_annual_variation                                  0
his_monthly_variation                                 0
dem_Indice_de_reemplazo_de_la_poblacion_activa        0
dem_Indice_de_juventud                                0
dem_Indice_de_estructura_de_la_poblacion_activa       0
dem_Indice_de_dependencia                             0
dem_TasaDeParo                                        0
dem_TamanoMedioDelHogar                               0
dem_PropSinEstudiosUniversitarios                     0
dem_PropSinEstudios                                   0
dem_Proporcion_de_nacidos_fuera_de_Espana             0
dem_PropConEstudiosUniversitarios                  1725
dem_PobTotal                                          0
dem_NumViviendas                                      0
dem_EdadMedia                                      1790
dem_Densidad_(Habit/Ha)                               0
dtype: int64

As we can see, there are many missing values in different areas of the dataset. We will deal with that later.
Now lets look at the different categories for the attributes of type object:

In [30]:
df["inm_barrio"].value_counts()

Goya             479
Embajadores      479
Universidad      472
Almagro          426
Justicia         412
                ...
Canillejas        26
Pavones           21
Rosas             20
Hellín            19
Casa de Campo     14
Name: inm_barrio, Length: 121, dtype: int64

In [31]:
df["inm_distrito"].value_counts()

Salamanca                2064
Centro                   2045
Chamberí                 1275
Tetuán                   1038
Moncloa - Aravaca         990
Chamartín                 969
Carabanchel               911
Ciudad Lineal             875
Puente de Vallecas        864
Arganzuela                723
Hortaleza                 643
Fuencarral - El Pardo     534
Latina                    522
Usera                     507
Retiro                    475
Villaverde                406
San Blas - Canillejas     356
Villa de Vallecas         335
Barajas                   209
Vicálvaro                 200
Moratalaz                 169
Name: inm_distrito, dtype: int64

In [32]:
df.describe()

,Unnamed: 0,inm_floor,inm_size,inm_price,his_price,his_quarterly_variation,his_annual_variation,his_monthly_variation,dem_Indice_de_reemplazo_de_la_poblacion_activa,dem_Indice_de_juventud,...,dem_TasaDeParo,dem_TamanoMedioDelHogar,dem_PropSinEstudiosUniversitarios,dem_PropSinEstudios,dem_Proporcion_de_nacidos_fuera_de_Espana,dem_PropConEstudiosUniversitarios,dem_PobTotal,dem_NumViviendas,dem_EdadMedia,dem_Densidad_(Habit/Ha)
count,17857.000000,14067.000000,16090.000000,1.785700e+04,17857.000000,17857.000000,17857.000000,17857.000000,17857.000000,17857.000000,...,17857.000000,17857.000000,17857.000000,17857.000000,17857.000000,16132.000000,17857.000000,17857.000000,16067.000000,17857.000000
mean,8928.000000,2.696453,149.013753,6.964702e+05,3993.643389,0.437918,-1.814499,0.035549,58.387524,77.735653,...,8.736896,2.487494,0.436518,0.124281,24.851753,0.439830,28281.995296,11515.008960,44.315032,233.372820
std,5155.016214,2.387135,160.485808,8.547274e+05,1589.895597,2.510048,3.847875,1.533065,23.241554,84.791212,...,3.042722,0.300608,0.109068,0.076923,8.542049,0.181168,13117.299282,5322.072109,2.842113,122.653928
min,0.000000,-1.000000,8.000000,1.600000e+04,1290.000000,-16.100000,-11.600000,-5.200000,26.976744,34.118917,...,3.643735,1.975877,0.246480,0.036422,8.884988,0.072421,2398.000000,872.000000,33.198916,2.267773
25%,4464.000000,1.000000,66.000000,1.899000e+05,2578.000000,-1.100000,-4.300000,-0.600000,41.889843,47.094735,...,6.291480,2.297491,0.340818,0.062095,18.746056,0.257582,18785.000000,8011.000000,43.161070,155.641754
50%,8928.000000,2.000000,98.000000,3.700000e+05,4049.000000,0.500000,-2.200000,0.000000,51.910341,51.264185,...,8.076921,2.466320,0.391468,0.085268,23.400147,0.512828,25023.000000,10637.000000,45.113343,228.165728
75%,13392.000000,4.000000,166.000000,8.490000e+05,5106.000000,1.900000,-0.100000,0.900000,65.111111,75.950172,...,10.802359,2.673612,0.551965,0.191202,31.219133,0.592631,36922.000000,15312.000000,46.244228,322.402577
max,17856.000000,60.000000,2400.000000,1.500000e+07,8299.000000,12.200000,17.200000,8.100000,171.272727,771.052632,...,18.030112,3.506552,0.641264,0.355659,53.296248,0.699977,67418.000000,26836.000000,49.332035,460.612389

We are going to set the missing values to the mean value (Imputation)

In [33]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="median")